/////////////////////////////////////////////////////////////////////
//  File Name               : system_fx.rc
//  Created                 : 20 1 2011   0:05
//  File path               : SLibF\render3d\cpp\dx9\fx
//  Author                  : Alexandru Motriuc
//  Platform Independent    : 0%
//  Library                 : 
//
/////////////////////////////////////////////////////////////////////
//  Purpose:
//     Contains system fx resources
/////////////////////////////////////////////////////////////////////
//
//  Modification History:
//      
/////////////////////////////////////////////////////////////////////

// basic effects
system.texture.0	FX		"system.texture.0.fx"
system.texture.1	FX		"system.texture.1.fx"
system.solid.1		FX		"system.solid.1.fx"
system.font.1		FX		"system.font.1.fx"

// basic 2d effects	
system.d2.texture.1	FX		"system.d2.texture.1.fx"

// resource list
render.res		XML		"render.res.xml"



// debug fx
system.debug.solid.color FX		"system.debug.solid.color.fx"