/////////////////////////////////////////////////////////////////////
//  File Name               : system_fx.rc
//  Created                 : 20 1 2011   0:05
//  File path               : SLibF\render3d\cpp\dx9\fx
//  Author                  : Alexandru Motriuc
//  Platform Independent    : 0%
//  Library                 : 
//
/////////////////////////////////////////////////////////////////////
//  Purpose:
//     Contains system fx resources
/////////////////////////////////////////////////////////////////////
//
//  Modification History:
//      
/////////////////////////////////////////////////////////////////////

// basic effects
system.texture.1	FX		"system.texture.1.fx"